[SddmGreeterTheme]
Name=Purple Squircle
Description=Purple Squircle SDDM theme (#5b0ca6 / #490585)
Author=Dotfiles
License=CC-BY-SA
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=purple-squircle
Theme-API=2.0
